@font-face {
  font-family: 'Mikado Black';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/mikado/MikadoBlack.woff') format('woff');

}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Open Sans', Arial, sans-serif ;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Mikado Black' ;
  font-weight: 900 ;
}